@using static Theater.Data.Models.PerfScene
@using static Theater.Data.Models.Theatre
@using static Theater.Data.Models.Scene

@model Theater.Data.Models.ActorsList


<div class="container">
    <div class="mt-2">
            <p><div class="fw-bold">@Model.performanceActor.role.name</div> - @Model.performanceActor.actor.name</p>
    </div>
</div>

