@model Order


<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/Style.css" rel="stylesheet" type="text/css" />

<div class="container">
	@{
		Layout = "_Layout";
	}

	<h1>@ViewBag.Message</h1>

	<a class="btn btn-warning" href="/Home/Index/">Ok</a>

</div>




